---
const { imgSrc, title, date, description, category } = Astro.props;
---

<li class="blogCard">
  <div class="blogImage">
    <img src={imgSrc} alt="" />
    <p class="blogTag">{category}</p>
  </div>
  <p class="blogTitle">{title}</p>
  <time class="blogDate">{date}</time>
  <p class="blogDesc">
    {description}
  </p>
</li>

<style>
  .blogCard {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 40% 40%;
    column-gap: 16px;
    height: 148px;
  }
  .blogImage {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    position: relative;
  }
  .blogImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .blogTag {
    position: absolute;
    top: 0;
    left: 0;
    background: #1b224c;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
  }
  .blogTitle {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 26px;
    text-decoration: underline;
  }
  .blogDate {
    font-size: 12px;
    margin: 0;
    padding: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
</style>
